/**
 * @file custom.css
 *
 * Custom CSS for Doug-fir subtheme
 *
 *
 **/

/* @font-face {
  font-family: 'EksjaExtremesRegular';
  src: url(../fonts/Eksja/Eksja-regular-webfont.eot);
  src: local('☺'), url(../fonts/Eksja/Eksja-regular-webfont.woff) format('woff'),
  url(../fonts/Eksja/Eksja-regular-webfont.ttf) format('truetype'),
  url(../fonts/Eksja/Eksja-regular-webfont.svg#webfont) format('svg');
  font-weight: normal;
  font-style: normal;
}*/



/* nice menu a-tag overlap fix */
#main-menu .nice-menu li.first a {
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#main-menu ul.nice-menu-down li, #main-menu ul.nice-menu-down li:hover, #main-menu ul.nice-menu-down li.menuparent, #main-menu ul.nice-menu-down li.menuparent:hover {
border-radius: inherit;
}

#mobile-menu {
  width: 100%;
}

/* Forms */
.input-append, .input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

/*.form-search .input-append .search-query {
  border-radius: 14px 0 0 14px;
}

.form-search .input-append .btn {
border-radius: 0 14px 14px 0;
}*/

/*unbold search terms */
/*.page-search-content strong {
  font-weight: 600;
}*/

/*override for new doug-fir styles*/
.block > h2 {
  background-color: transparent;
  color: #252525;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24px;
}

/*rss feeds page*/

.page-rss-feeds .lead {
  font-size: 18px;
  line-height: 26px;
}

.page-rss-feeds h3 {
  font-weight: 200;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: none;
}

