/**
 * @file custom.css
 *
 * Custom CSS for Doug-fir subtheme
 *
 *
 **/

 
/*styles from old site */
/* for inline images */
dl.float-right {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	width: 280px;
	text-align: left;
	padding: 0;
	float: right;
	clear: both;
	margin: 0 0 15px 15px;
}

dl.float-right-vertical {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	width: 190px;
	text-align: left;
	padding: 0;
	float: right;
	clear: both;
	margin: 0 0 15px 15px;
}

dl.float-right-buttons {
	border: 1px solid #ddd;
	background-color: #fff;
	width: 168px;
	text-align: left;
	padding: 0;
	float: right;
	margin: 0 0 15px 15px;
}


.float-right dd img, .float-right-vertical dd img, .float-right-buttons dd img {
	border: none;
}

.float-right dd, .float-right-vertical dd, .float-right-buttons dd {
	margin: 0;
	padding: 10px;
}

.float-right dd.caption, .float-right-vertical dd.caption, .float-right-buttons dd.caption {
	padding-top: 0;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : 0.925em;
	font-style : italic;
}


/* css for fall-2013 aes map */

/* These are for defining the hotspots over the markers.
Remove the background-color after hotspots are placed. */

#block-system-main.block .aes-map-bg {
	background:url(../images/aes_map_bg_small.png) no-repeat;
	min-height: 600px;
	min-width: 576px;
	position: relative;
}


.osrec {
	position:absolute;˝
	width:40px;
	height:50px;
	left:75px;
	top:10px;
	background-color:rgba(255,255,255,0.3);
}
.comes {
	position:absolute;
	width:40px;
	height:50px;
	left:50px;
	top:140px;
	background-color:rgba(255,255,255,0.3);
}
.fic {
	position:absolute;
	width:30px;
	height:34px;
	left:144px;
	top:60px;
	background-color:rgba(255,255,255,0.3);
}
.nwrec {
	position:absolute;
	width:30px;
	height:40px;
	left:130px;
	top:88px;
	background-color:rgba(255,255,255,0.3);
}
.mcarec {
	position:absolute;
	width:40px;
	height:50px;
	left:208px;
	top:50px;
	background-color:rgba(255,255,255,0.3);
}
.harec {
	position:absolute;
	width:40px;
	height:50px;
	left:340px;
	top:36px;
	background-color:rgba(255,255,255,0.3);
}
.cbarc {
	position:absolute;
	width:40px;
	height:50px;
	left:394px;
	top:44px;
	background-color:rgba(255,255,255,0.3);
}
.eoarcu {
	position:absolute;
	width:40px;
	height:50px;
	left:434px;
	top:80px;
	background-color:rgba(255,255,255,0.3);
}
.coarc {
	position:absolute;
	width:40px;
	height:50px;
	left:220px;
	top:132px;
	background-color:rgba(255,255,255,0.3);
}
.mes {
	position:absolute;
	width:40px;
	height:50px;
	left:480px;
	top:200px;
	background-color:rgba(255,255,255,0.3);
}
.eoarcb {
	position:absolute;
	width:40px;
	height:50px;
	left:346px;
	top:230px;
	background-color:rgba(255,255,255,0.3);
}
.kbrec {
	position:absolute;
	width:40px;
	height:50px;
	left:180px;
	top:342px;
	background-color:rgba(255,255,255,0.3);
}
.sorec {
	position:absolute;
	width:40px;
	height:50px;
	left:110px;
	top:334px;
	background-color:rgba(255,255,255,0.3);
}

/* This is for defining the bottom text area styling */
.textArea {
	display: block;
	position: absolute;
	left: -400px;
	top: 450px;
	text-align: center;
	border-radius: 10px;
	opacity: 0;
	height: auto;
	width: 562px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	-o-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
a:hover .textArea { 
	display: block;
	background-color: #f5f2ed;	
	left: 8px;
	opacity: 1;
}
a {
	text-decoration:none;
}
.textArea p { /* changed to reflect sitewide p styles */
	padding: 10px;
	color: #000;
	/*color: #c34500;
	font-size: 1.1em;*/
}	

/* nice menu a-tag overlap fix */
#main-menu .nice-menu li.first a {
	border-radius: inherit;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#main-menu ul.nice-menu-down li, #main-menu ul.nice-menu-down li:hover, #main-menu ul.nice-menu-down li.menuparent, #main-menu ul.nice-menu-down li.menuparent:hover {
border-radius: inherit;
}

/* Section headers, e.g. "Winter 2013 Stories" */
.section-header {
  height: 30px;
  padding-left: 10px;
  line-height: 2em;
  border-bottom: 1px dotted #ccc;
  border-top: 3px solid #c34500;
}

.section-header img {
 float: right; 
}

.section-header {
  margin: 2.5em 0;
}

/* top hat styles */
#top {
  width: 100%;
  height: 55px;
	margin-left:0;
  border-bottom: 3px solid #dbd6d0;
  font-size: 13px;
  font-family: 'Gudea', Arial, Helvetica, Verdana, sans-serif;
  background: rgb(86,86,86); /* Old browsers */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTI1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(86,86,86,1) 0%, rgba(37,37,37,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(37,37,37,1) 100%); /* IE10+ future proof */
  background: linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(37,37,37,1) 100%); /* W3C */
}

.ie #top {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#252525',GradientType=0 ); /* IE6-8 */
}

/* Forms */
.input-append, .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.form-search .input-append .search-query {
	-webkit-border-radius: 14px 0 0 14px;
	-moz-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px;
}

.form-search .input-append .btn {
-webkit-border-radius: 0 14px 14px 0;
-moz-border-radius: 0 14px 14px 0;
border-radius: 0 14px 14px 0;
}

/* Links Region */
div#links {
	padding-bottom: 15px;
}